AccessManagement/SolutionPackage/src/Workflows/Access-Request-Created-C03C9BED-F1EF-ED11-8849-6045BD8CCC09.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_MicrosoftDataverseAccessManagement"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "ab5c7084-2ea0-4a8d-aaad-ca619832cc29"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cat_accessrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Create_Access_Request_Activity_-_Created": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "741cb050-9be4-44eb-a238-b5065a7435ce"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessrequestactivities",
              "item/subject": "Access Request Created",
              "item/activitypointer_activity_parties": [
                {
                  "partyid@odata.bind": "/systemusers(@{triggerOutputs()?['body/_cat_user_value']})"
                }
              ],
              "item/actualstart": "@utcNow()",
              "item/cat_flowenvironmentid": "@workflow().tags.environmentName",
              "item/cat_flowname": "@workflow().name",
              "item/cat_flowrun": "@workflow().run.name",
              "item/regardingobjectid_cat_accessrequest_cat_accessrequestactivity@odata.bind": "/cat_accessrequests(@{triggerOutputs()?['body/cat_accessrequestid']})",
              "item/statuscode": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "If_Approval_Required": {
          "actions": {
            "Create_Access_Request_Activity_-_Approval": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "741cb050-9be4-44eb-a238-b5065a7435ce"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_accessrequestactivities",
                  "item/subject": "Access Request Approval Process",
                  "item/actualstart": "@utcNow()",
                  "item/cat_flowenvironmentid": "@workflow().tags.environmentName",
                  "item/cat_flowname": "@workflow().name",
                  "item/cat_flowrun": "@workflow().run.name",
                  "item/regardingobjectid_cat_accessrequest_cat_accessrequestactivity@odata.bind": "/cat_accessrequests(@{triggerOutputs()?['body/cat_accessrequestid']})",
                  "item/statuscode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Access_Request_Status_Reason_to_Waiting_for_Approval": {
              "runAfter": {
                "Create_Access_Request_Activity_-_Approval": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0c2ae8a9-c807-40b8-b0fe-7dc641e5eccf"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_accessrequests",
                  "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                  "item/statecode": 0,
                  "item/statuscode": 809060006
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Close_Access_Request_Activity_-_Created": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Access_Request_Status_Reason_to_Approved": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "0c2ae8a9-c807-40b8-b0fe-7dc641e5eccf"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cat_accessrequests",
                    "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                    "item/statecode": 0,
                    "item/statuscode": 809060007
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/cat_approvalrequired']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "46e619ff-896b-48f7-827f-81dfe4708faa"
          },
          "type": "If"
        },
        "Close_Access_Request_Activity_-_Created": {
          "runAfter": {
            "Create_Access_Request_Activity_-_Created": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c494b26a-4ce3-4d2d-8037-4cb8b9a5ca8e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessrequestactivities",
              "recordId": "@outputs('Create_Access_Request_Activity_-_Created')?['body/activityid']",
              "item/statecode": 1,
              "item/statuscode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}