AccessManagement/SolutionPackage/src/Workflows/Start-Access-Request-Approval-C07F2785-FAF2-ED11-8849-6045BD8CCC09.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_MicrosoftDataverseAccessManagement"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedapprovals_6aea4"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_sharedcommondataserviceforapps_7bafb"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "f5900a4f-d367-45de-87bc-e78e3b2603e0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cat_accessrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "(statecode eq 0 and statuscode eq 809060006)",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Access_Profile": {
          "runAfter": {
            "Get_a_row_by_ID_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5270d0db-86a2-4075-a56d-839be7bb132d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessprofiles",
              "recordId": "@triggerOutputs()?['body/_cat_accessprofile_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Access_Profile_Approval": {
          "runAfter": {
            "Condition_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cdf3548f-01e4-4b6d-85e4-41b64150a876"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessprofileapproverses",
              "$filter": "_cat_accessprofile_value eq '@{outputs('Get_Access_Profile')?['body/cat_accessprofileid']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Create_an_approval": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "78a345c5-0729-4903-b087-fec33bd3258f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_approvals_1",
                  "operationId": "CreateAnApproval",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                },
                "parameters": {
                  "approvalType": "Basic",
                  "ApprovalCreationInput/title": "Access Request Approval Required",
                  "ApprovalCreationInput/assignedTo": "@{variables('approversUPN')};;",
                  "ApprovalCreationInput/details": "**@{outputs('Get_a_row_by_ID_2')?['body/fullname']}** has requested **@{triggerOutputs()?['body/cat_securityrole']}** in **@{outputs('Get_Access_Profile')?['body/cat_environmentname']}** (@{outputs('Get_Access_Profile')?['body/cat_environmenturl']})\n\n@{variables('justificationPrefix')}@{triggerOutputs()?['body/cat_justification']}",
                  "ApprovalCreationInput/enableNotifications": true,
                  "ApprovalCreationInput/enableReassignment": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_4": {
              "foreach": "@outputs('List_Access_Request_Approvers')?['body/value']",
              "actions": {
                "Get_a_row_by_ID_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9ea65343-d146-4a31-afa8-ebc8536ef6ad"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "recordId": "@items('Apply_to_each_4')?['systemuserid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_a_new_row_2": {
                  "runAfter": {
                    "Get_a_row_by_ID_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dca40ed0-ea1c-465e-b369-78ddb7e17780"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_accessrequestactivities",
                      "item/subject": "Waiting for @{outputs('Get_a_row_by_ID_3')?['body/fullname']}",
                      "item/activitypointer_activity_parties": [
                        {
                          "participationtypemask": 2,
                          "partyid@odata.bind": "/systemusers(@{outputs('Get_a_row_by_ID_3')?['body/systemuserid']})"
                        }
                      ],
                      "item/description": "Approval Request send to @{outputs('Get_a_row_by_ID_3')?['body/fullname']}",
                      "item/cat_flowenvironmentid": "@workflow().tags.environmentName",
                      "item/cat_flowname": "@workflow().name",
                      "item/cat_flowrun": "@workflow().run.name",
                      "item/regardingobjectid_cat_accessrequest_cat_accessrequestactivity@odata.bind": "/cat_accessrequests(@{triggerOutputs()?['body/cat_accessrequestid']})",
                      "item/statuscode": 1
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Append_to_array_variable": {
                  "runAfter": {
                    "Add_a_new_row_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ca42f769-a9d6-48d3-adbb-38b9501a680d"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "arrayWaitingForActivities",
                    "value": "@outputs('Add_a_new_row_2')"
                  }
                }
              },
              "runAfter": {
                "Create_an_approval": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e839f450-d99d-498d-ad83-0c7711d95aa5"
              },
              "type": "Foreach"
            },
            "Wait_for_an_approval": {
              "runAfter": {
                "Apply_to_each_4": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "25435169-96eb-40e1-8dc1-1da7e3b413e8"
              },
              "type": "OpenApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connectionName": "shared_approvals_1",
                  "operationId": "WaitForAnApproval",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                },
                "parameters": {
                  "approvalName": "@outputs('Create_an_approval')?['body/name']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_7": {
              "actions": {
                "Update_Access_Request_Activity_-_Approval__4": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e9eed4f2-13bd-45af-b177-cb862536bec6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_accessrequestactivities",
                      "recordId": "@first(outputs('List_Open_Access_Request_Activities_2')?['body/value'])?['activityid']",
                      "item/statecode": 1,
                      "item/description": "Approval Outcome: @{outputs('Wait_for_an_approval')?['body/outcome']}",
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_Access_Request_-_Approved_3": {
                  "runAfter": {
                    "Update_Access_Request_Activity_-_Approval__4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "52bfc1a6-2e15-41a9-85ec-73d3255e1f8d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cat_accessrequests",
                      "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                      "item/statecode": 0,
                      "item/statuscode": 809060007
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_3": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_Access_Request_Activity_-_Approval__5": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e9eed4f2-13bd-45af-b177-cb862536bec6"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_accessrequestactivities",
                        "recordId": "@first(outputs('List_Open_Access_Request_Activities_2')?['body/value'])?['activityid']",
                        "item/statecode": 2,
                        "item/description": "Approval Outcome: @{outputs('Wait_for_an_approval')?['body/outcome']}",
                        "item/statuscode": 3
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Update_a_row_3": {
                    "runAfter": {
                      "Update_Access_Request_Activity_-_Approval__5": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f0744ace-3bb4-4a0e-b479-3390137c3dcf"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_accessrequests",
                        "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                        "item/statecode": 1,
                        "item/statuscode": 809060003
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Add_a_new_row": {
                    "runAfter": {
                      "Update_a_row_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "74446aba-0092-4264-8249-7ecc064d9973"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_accessrequestactivities",
                        "item/subject": "Access Request Closed",
                        "item/cat_flowenvironmentid": "@workflow().tags.environmentName",
                        "item/cat_flowname": "@workflow().name",
                        "item/cat_flowrun": "@workflow().run.name",
                        "item/regardingobjectid_cat_accessrequest_cat_accessrequestactivity@odata.bind": "/cat_accessrequests(@{triggerOutputs()?['body/cat_accessrequestid']})",
                        "item/statuscode": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Update_a_row_4": {
                    "runAfter": {
                      "Add_a_new_row": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f0744ace-3bb4-4a0e-b479-3390137c3dcf"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_accessrequestactivities",
                        "recordId": "@outputs('Add_a_new_row')?['body/activityid']",
                        "item/statecode": 1,
                        "item/statuscode": 2
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Wait_for_an_approval')?['body/outcome']",
                  "Approve"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ac4487a-f53b-4a38-a43d-a966f9f74a35"
              },
              "type": "If"
            },
            "Apply_to_each_3": {
              "foreach": "@outputs('Wait_for_an_approval')?['body/responses']",
              "actions": {
                "Apply_to_each_5": {
                  "foreach": "@variables('arrayWaitingForActivities')",
                  "actions": {
                    "Condition_8": {
                      "actions": {
                        "Complete_Approver_Response_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "961150ec-1531-4b8c-96c5-de79682e8a3a"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cat_accessrequestactivities",
                              "recordId": "@items('Apply_to_each_5')?['body']?['activityid']",
                              "item/statecode": 1,
                              "item/description": "@{items('Apply_to_each_3')?['approverResponse']} @{if(equals(items('Apply_to_each_3')?['comments'], null), null, concat('\\nComment', items('Apply_to_each_3')?['comments']))}",
                              "item/statuscode": 2
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Condition_2": {
                          "actions": {
                            "List_rows": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "00a23fcc-d304-4787-91d0-269a956c032d"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "ListRecords",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cat_accessrequestactivities",
                                  "$filter": "_regardingobjectid_value eq '@{triggerOutputs()?['body/cat_accessrequestid']}' and statuscode eq 1"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Apply_to_each_6": {
                              "foreach": "@outputs('List_rows')?['body/value']",
                              "actions": {
                                "Update_a_row": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "9274f2b9-a8ff-4dc2-ab14-6ba7663c76c9"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cat_accessrequestactivities",
                                      "recordId": "@items('Apply_to_each_6')?['activityid']",
                                      "item/statecode": 2,
                                      "item/description": "No reponse",
                                      "item/statuscode": 3
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              },
                              "runAfter": {
                                "List_rows": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "8b186253-440e-4507-ad58-69ad2a4453b8"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Complete_Approver_Response_2": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(variables('arrayWaitingForActivities'))",
                              1
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "17a59268-1ddd-4846-a13b-3eef626e658f"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "endsWith": [
                          "@items('Apply_to_each_5')?['body']?['subject']",
                          "@items('Apply_to_each_3')?['responder']?['displayName']"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "054ab725-6b49-486b-9961-df832c5cd387"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1e140977-5b01-4849-875f-d49519bc42c9"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Wait_for_an_approval": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "92d2d281-acf2-4969-ae58-a44e16b2d54f"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Create_an_approval_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "6ad34f32-3bfc-4921-adb8-00d07dd2181e"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_approvals_1",
                    "operationId": "CreateAnApproval",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                  },
                  "parameters": {
                    "approvalType": "BasicAwaitAll",
                    "ApprovalCreationInput/title": "Access Request Approval Required",
                    "ApprovalCreationInput/assignedTo": "@{variables('approversUPN')};;",
                    "ApprovalCreationInput/details": "**@{outputs('Get_a_row_by_ID_2')?['body/fullname']}** has requested **@{triggerOutputs()?['body/cat_securityrole']}** in **@{outputs('Get_Access_Profile')?['body/cat_environmentname']}** (@{outputs('Get_Access_Profile')?['body/cat_environmenturl']})\n\n@{variables('justificationPrefix')}@{triggerOutputs()?['body/cat_justification']}",
                    "ApprovalCreationInput/enableNotifications": true,
                    "ApprovalCreationInput/enableReassignment": true
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Apply_to_each_7": {
                "foreach": "@outputs('List_Access_Request_Approvers')?['body/value']",
                "actions": {
                  "Get_a_row_by_ID_4": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9ea65343-d146-4a31-afa8-ebc8536ef6ad"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "systemusers",
                        "recordId": "@items('Apply_to_each_7')?['systemuserid']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Add_a_new_row_3": {
                    "runAfter": {
                      "Get_a_row_by_ID_4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "dca40ed0-ea1c-465e-b369-78ddb7e17780"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_accessrequestactivities",
                        "item/subject": "Waiting for @{outputs('Get_a_row_by_ID_4')?['body/fullname']}",
                        "item/activitypointer_activity_parties": [
                          {
                            "participationtypemask": 2,
                            "partyid@odata.bind": "/systemusers(@{outputs('Get_a_row_by_ID_4')?['body/systemuserid']})"
                          }
                        ],
                        "item/description": "Approval Request send to @{outputs('Get_a_row_by_ID_4')?['body/fullname']}",
                        "item/cat_flowenvironmentid": "@workflow().tags.environmentName",
                        "item/cat_flowname": "@workflow().name",
                        "item/cat_flowrun": "@workflow().run.name",
                        "item/regardingobjectid_cat_accessrequest_cat_accessrequestactivity@odata.bind": "/cat_accessrequests(@{triggerOutputs()?['body/cat_accessrequestid']})",
                        "item/statuscode": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Append_to_array_variable_3": {
                    "runAfter": {
                      "Add_a_new_row_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ca42f769-a9d6-48d3-adbb-38b9501a680d"
                    },
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "arrayWaitingForActivities",
                      "value": "@outputs('Add_a_new_row_3')"
                    }
                  }
                },
                "runAfter": {
                  "Create_an_approval_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e839f450-d99d-498d-ad83-0c7711d95aa5"
                },
                "type": "Foreach"
              },
              "Wait_for_an_approval_2": {
                "runAfter": {
                  "Apply_to_each_7": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "7003999a-27fb-45c6-994c-3e81a7f346be"
                },
                "type": "OpenApiConnectionWebhook",
                "inputs": {
                  "host": {
                    "connectionName": "shared_approvals_1",
                    "operationId": "WaitForAnApproval",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                  },
                  "parameters": {
                    "approvalName": "@outputs('Create_an_approval_2')?['body/name']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Apply_to_each_8": {
                "foreach": "@outputs('Wait_for_an_approval_2')?['body/responses']",
                "actions": {
                  "Apply_to_each_9": {
                    "foreach": "@variables('arrayWaitingForActivities')",
                    "actions": {
                      "Condition_6": {
                        "actions": {
                          "Condition_5": {
                            "actions": {
                              "Complete_Approver_Response_3": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "961150ec-1531-4b8c-96c5-de79682e8a3a"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "UpdateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "cat_accessrequestactivities",
                                    "recordId": "@items('Apply_to_each_9')?['body']?['activityid']",
                                    "item/statecode": 1,
                                    "item/description": "@{items('Apply_to_each_8')?['approverResponse']} @{if(equals(items('Apply_to_each_8')?['comments'], null), null, concat('\\nComment', items('Apply_to_each_8')?['comments']))}",
                                    "item/statuscode": 2
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Complete_Approver_Response": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "961150ec-1531-4b8c-96c5-de79682e8a3a"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_1",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "cat_accessrequestactivities",
                                      "recordId": "@items('Apply_to_each_9')?['body']?['activityid']",
                                      "item/statecode": 1,
                                      "item/description": "@{items('Apply_to_each_8')?['approverResponse']} @{if(equals(items('Apply_to_each_8')?['comments'], null), null, concat('\\nComment', items('Apply_to_each_8')?['comments']))}",
                                      "item/statuscode": 2
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              }
                            },
                            "expression": {
                              "equals": [
                                "@items('Apply_to_each_8')?['approverResponse']",
                                "Approve"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "c443ece7-6ce1-4e84-8abb-afec0178e94d"
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {},
                        "expression": {
                          "endsWith": [
                            "@items('Apply_to_each_9')?['body']?['subject']",
                            "@items('Apply_to_each_8')?['responder']?['displayName']"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "054ab725-6b49-486b-9961-df832c5cd387"
                        },
                        "type": "If"
                      }
                    },
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1e140977-5b01-4849-875f-d49519bc42c9"
                    },
                    "type": "Foreach"
                  }
                },
                "runAfter": {
                  "Wait_for_an_approval_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "92d2d281-acf2-4969-ae58-a44e16b2d54f"
                },
                "type": "Foreach"
              },
              "Condition_10": {
                "actions": {
                  "Update_Access_Request_Activity_-_Approval__6": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e9eed4f2-13bd-45af-b177-cb862536bec6"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_accessrequestactivities",
                        "recordId": "@first(outputs('List_Open_Access_Request_Activities_2')?['body/value'])?['activityid']",
                        "item/statecode": 1,
                        "item/description": "Approval Outcome: @{outputs('Wait_for_an_approval_2')?['body/outcome']}",
                        "item/statuscode": 2
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Update_Access_Request_-_Approved": {
                    "runAfter": {
                      "Update_Access_Request_Activity_-_Approval__6": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "52bfc1a6-2e15-41a9-85ec-73d3255e1f8d"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "cat_accessrequests",
                        "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                        "item/statecode": 0,
                        "item/statuscode": 809060007
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Apply_to_each_8": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Update_Access_Request_Activity_-_Approval_": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "e9eed4f2-13bd-45af-b177-cb862536bec6"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_accessrequestactivities",
                          "recordId": "@first(outputs('List_Open_Access_Request_Activities_2')?['body/value'])?['activityid']",
                          "item/statecode": 2,
                          "item/description": "Approval Outcome: @{outputs('Wait_for_an_approval_2')?['body/outcome']}",
                          "item/statuscode": 3
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Update_a_row_6": {
                      "runAfter": {
                        "Update_Access_Request_Activity_-_Approval_": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f0744ace-3bb4-4a0e-b479-3390137c3dcf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_accessrequests",
                          "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                          "item/statecode": 1,
                          "item/statuscode": 809060003
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Add_a_new_row_4": {
                      "runAfter": {
                        "Update_a_row_6": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "74446aba-0092-4264-8249-7ecc064d9973"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_accessrequestactivities",
                          "item/subject": "Access Request Closed",
                          "item/cat_flowenvironmentid": "@workflow().tags.environmentName",
                          "item/cat_flowname": "@workflow().name",
                          "item/cat_flowrun": "@workflow().run.name",
                          "item/regardingobjectid_cat_accessrequest_cat_accessrequestactivity@odata.bind": "/cat_accessrequests(@{triggerOutputs()?['body/cat_accessrequestid']})",
                          "item/statuscode": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Update_a_row_2": {
                      "runAfter": {
                        "Condition_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f0744ace-3bb4-4a0e-b479-3390137c3dcf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_accessrequests",
                          "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                          "item/statecode": 1,
                          "item/statuscode": 809060003
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Update_a_row_8": {
                      "runAfter": {
                        "Add_a_new_row_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "602433cb-6c21-4416-8001-208703aa8f96"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cat_accessrequestactivities",
                          "recordId": "@outputs('Add_a_new_row_4')?['body/activityid']",
                          "item/statecode": 1,
                          "item/statuscode": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Condition_3": {
                      "actions": {
                        "List_rows_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "00a23fcc-d304-4787-91d0-269a956c032d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "cat_accessrequestactivities",
                              "$filter": "_regardingobjectid_value eq '@{triggerOutputs()?['body/cat_accessrequestid']}' and statuscode eq 1"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Apply_to_each_2": {
                          "foreach": "@outputs('List_rows_2')?['body/value']",
                          "actions": {
                            "Update_a_row_5": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "9274f2b9-a8ff-4dc2-ab14-6ba7663c76c9"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "cat_accessrequestactivities",
                                  "recordId": "@items('Apply_to_each_2')?['activityid']",
                                  "item/statecode": 2,
                                  "item/description": "No reponse",
                                  "item/statuscode": 3
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "List_rows_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8b186253-440e-4507-ad58-69ad2a4453b8"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Update_a_row_8": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "greater": [
                          "@length(variables('arrayWaitingForActivities'))",
                          1
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "17a59268-1ddd-4846-a13b-3eef626e658f"
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "not": {
                    "contains": [
                      "@outputs('Wait_for_an_approval_2')?['body/outcome']",
                      "Reject"
                    ]
                  }
                },
                "metadata": {
                  "operationMetadataId": "5ac4487a-f53b-4a38-a43d-a966f9f74a35"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@first(outputs('Get_Access_Profile_Approval')?['body/value'])?['cat_approvaltype']",
              809060000
            ]
          },
          "metadata": {
            "operationMetadataId": "588e54e8-b6b1-41e8-9c1c-5272dc9bde67"
          },
          "type": "If"
        },
        "List_Access_Request_Approvers": {
          "runAfter": {
            "Get_Access_Profile_Approval": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "202542d6-31b8-495c-a6a5-9ef47af676e8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessprofileapprovers_systemuserset",
              "$filter": "cat_accessprofileapproversid eq '@{first(outputs('Get_Access_Profile_Approval')?['body/value'])?['cat_accessprofileapproversid']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Access_Request_Approvers')?['body/value']",
          "actions": {
            "Get_a_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9ea65343-d146-4a31-afa8-ebc8536ef6ad"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@items('Apply_to_each')?['systemuserid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Append_to_approversUPN": {
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7e7585bd-bc7b-4ca5-a6fa-210a0f3f1d17"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "approversUPN",
                "value": "@{outputs('Get_a_row_by_ID')?['body/internalemailaddress']};"
              }
            },
            "Append_to_array_variable_2": {
              "runAfter": {
                "Append_to_approversUPN": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "11793bda-f991-4396-999b-a96491bbe279"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "arrayApprovalUsers",
                "value": "@outputs('Get_a_row_by_ID')"
              }
            }
          },
          "runAfter": {
            "List_Access_Request_Approvers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2acb0c19-e066-4f5b-ba0b-ccd8baaf0640"
          },
          "type": "Foreach"
        },
        "Initialize_approversUPN": {
          "runAfter": {
            "Initialize_hostEnvironmentUrl": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb1cd53b-38fc-439f-833d-87c6b5c05f59"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "approversUPN",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_hostEnvironmentUrl": {
          "runAfter": {
            "List_Open_Access_Request_Activities_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "205535c3-bc02-4213-b547-051e0cc49f33"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "hostEnvironmentUrl",
                "type": "string",
                "value": "@{workflow()}"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_approversUPN": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "92121e70-3d48-45c8-90f7-ab128c833855"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "justificationPrefix",
                "type": "string"
              }
            ]
          }
        },
        "Condition_4": {
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a0d22449-11fe-4379-b116-365973f57bef"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "justificationPrefix",
                "value": "Justification: "
              }
            }
          },
          "runAfter": {
            "Get_Access_Profile": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs('Get_Access_Profile')?['body/cat_justificationrequired']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "8bded4e1-f7bb-4dab-b6af-4f36240c2f9a"
          },
          "type": "If"
        },
        "Get_a_row_by_ID_2": {
          "runAfter": {
            "initialize_arrayWaitingForActivities": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ce5e8488-b14f-485c-8617-7819e2147f2b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_cat_user_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_Open_Access_Request_Activities_2": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c9eb18ab-f4ad-430a-a753-9f77b8fd93d4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessrequestactivities",
              "$filter": "_regardingobjectid_value eq '@{triggerOutputs()?['body/cat_accessrequestid']}' and subject eq 'Access Request Approval Process'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Access_Request_Activity_-_Approval__3": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e9eed4f2-13bd-45af-b177-cb862536bec6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessrequestactivities",
              "recordId": "@first(outputs('List_Open_Access_Request_Activities_2')?['body/value'])?['activityid']",
              "item/statecode": 1,
              "item/cat_flowenvironmentid": "@workflow().tags.environmentName",
              "item/cat_flowname": "@workflow().name",
              "item/cat_flowrun": "@workflow().run.name",
              "item/statuscode": 2
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "317cd448-cf07-480c-84f4-8c4f86dcdfdd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "approverComments",
                "type": "string"
              }
            ]
          }
        },
        "initialize_arrayWaitingForActivities": {
          "runAfter": {
            "initialize_arrayApprovalUsers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c3f22dd-e0a2-44b4-99fa-c6d52550b10d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrayWaitingForActivities",
                "type": "array"
              }
            ]
          }
        },
        "initialize_arrayApprovalUsers": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "64193869-f86e-484e-8799-db611ff4d1b5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrayApprovalUsers",
                "type": "array"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}