AccessManagement/SolutionPackage/src/Workflows/Update-Access-Request-B53BC662-D6EF-ED11-8849-6045BD8CCC09.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cat_MicrosoftDataverseAccessManagement"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "ad169ad1-ee05-4068-a3ec-2f4a128c9e51"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cat_accessrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "statuscode eq 809060001",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Delay": {
          "runAfter": {
            "Add_a_new_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5e80da6c-8e1a-4d82-9ab0-09fd7a73d456"
          },
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": "@outputs('Get_a_row_by_ID')?['body/cat_duration']",
              "unit": "Minute"
            }
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "Add_to_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a5a684c8-b199-46a5-9e51-9674689ae250"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessrequestactivities",
              "item/subject": "Revoke Access",
              "item/actualstart": "@utcNow()",
              "item/description": "Revoke access has been scheduled",
              "item/scheduledend": "@body('Add_to_time')",
              "item/regardingobjectid_cat_accessrequest_cat_accessrequestactivity@odata.bind": "/cat_accessrequests(@{triggerOutputs()?['body/cat_accessrequestid']})",
              "item/scheduleddurationminutes": "@outputs('Get_a_row_by_ID')?['body/cat_duration']",
              "item/scheduledstart": "@utcNow()",
              "item/statuscode": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_to_time": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c59333be-0a74-4f5c-8064-742e0c8820e2"
          },
          "type": "Expression",
          "kind": "AddToTime",
          "inputs": {
            "baseTime": "@{utcNow()}",
            "interval": "@outputs('Get_a_row_by_ID')?['body/cat_duration']",
            "timeUnit": "Minute"
          }
        },
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dd842e5e-a316-4a0b-a24e-3acbc9009155"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessprofiles",
              "recordId": "@triggerOutputs()?['body/_cat_accessprofile_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Access_Request": {
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aba6f4b4-3527-4c05-af9b-6e98591b30f7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cat_accessrequests",
              "recordId": "@triggerOutputs()?['body/cat_accessrequestid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4d451f7c-2116-4f2f-ae21-47677187d604"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cat_accessrequests",
                  "recordId": "@triggerOutputs()?['body/cat_accessrequestid']",
                  "item/statuscode": 809060004
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Access_Request": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@outputs('Get_Access_Request')?['body/statecode']",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "83c22dc6-edb3-4faf-83a2-c5fc91cd2223"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}